iot-edge-sdk-embedded-c/bin/
iot-edge-sdk-embedded-c/obj/
BUILD/
iot-edge-sdk-embedded-c/res/trusted_RootCA_certs/roots.pem
iot-edge-sdk-embedded-c/test_coverage/
iot-edge-sdk-embedded-c/.vscode/
.DS_Store
*.bak
*.swp
iot-edge-sdk-embedded-c/third_party/tls/mbedtls
iot-edge-sdk-embedded-c/third_party/tls/wolfssl
iot-edge-sdk-embedded-c/third_party/protobuf-c/library/*.o
iot-edge-sdk-embedded-c/third_party/freertos-addons
iot-edge-sdk-embedded-c/third_party/FreeRTOSv10.1.1*
iot-edge-sdk-embedded-c/examples/freertos_linux/Linux_gcc_gcp_iot/*.o
iot-edge-sdk-embedded-c/examples/freertos_linux/Linux_gcc_gcp_iot/Linux_gcc_gcp_iot
